DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,projetocoralbrasil.com.br,www.projetocoralbrasil.com.br
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://projetocoralbrasil.com.br,https://www.projetocoralbrasil.com.br
CSRF_TRUSTED_ORIGINS=https://projetocoralbrasil.com.br,https://www.projetocoralbrasil.com.br
OFFLINE_MODE=False
ENABLE_CODE_SYNC=False

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=sua-senha-neo4j
